RewriteEngine on

# POSTS
RewriteRule ^posts/([1-9][0-9]*)/([a-z0-9-]+)\.html$ index.php?posts=show&id=$1&slug=$2 [L]

# FORMULAIRE POST
RewriteRule ^posts/add/form.html$ index.php?posts=addForm [L]

# AJOUT POST : INSERT
RewriteRule ^posts/add/insert.html$ index.php?posts=addInsert [L]

# SUPRRESSION D'UN POST : DELETE
RewriteRule ^posts/([1-9][0-9]*)/([a-z0-9-]+)/delete\.html$ index.php?posts=delete&id=$1&slug=$2 [L]

# FORMULAIRE DE MODIFICATION D'UN POST
RewriteRule ^posts/([1-9][0-9]*)/([a-z0-9-]+)/edit/form\.html$ index.php?posts=editForm&id=$1&slug=$2 [L]

# FORMULAIRE DE MODIFICATION D'UN POST : UPDATE
RewriteRule ^posts/([1-9][0-9]*)/([a-z0-9-]+)/edit/update\.html$ index.php?posts=editUpdate&id=$1&slug=$2 [L]


RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]