RewriteEngine on

# POSTS
RewriteRule ^posts/([1-9][0-9]*)/([a-z0-9-]+)\.html$ index.php?posts=show&id=$1&slug=$2 [L]

RewriteCond %{REQUEST_URI} !\.(js|css|jpg|gif|zip|png|pdf)$ [NC]
RewriteRule ^(.*)$ index.php [L]